img {
    width: 100%;
    margin: 0.5rem;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    padding-right: 10px;
}

@media only screen and (min-width: 1000px) {
    div.container-fluid {
        padding-left: 15%;
        padding-right: 15%;
    }
}

#marques {
    background-image: urL(photos/morning_ocean.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#brenda {
    background-image: urL(photos/cafe.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.info {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
}

#brendaMobile,
#marquesMobile {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
}

@media only screen and (max-width: 767px) {
    #marques {
        background-image: urL(photos/climbv.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
    }

    #marquesMobile {
        color: black;
    }
    
    #brenda {
        background-image: urL(photos/cafev.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.label {
    padding: 2px 3px;
    background-color: #f14668;
    color: white;
}

@media only screen and (min-width: 1000px) {
    .greetings,
    #marques,
    #brenda {
        font-size: 1.5rem;
    }

    #brenda {
        line-height: 1.5;
    }

    #marques {
        line-height: 2;
    }
}

#marques i,
#brenda i {
    color: aliceblue;
    background-color: #833ab4;
    padding: 0 4px 4px 4px;
    transition: all 0.5s ease;
}

#marques i:hover,
#brenda i:hover {
    opacity: 70%;
}

footer i {
    color:aliceblue;
    background-color: #2a363b;
    padding: 2px 5px 5px 5px;
    font-weight: 300;
    transition: all 0.5s ease;
}